@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}




@layer components {
  .btn-primary {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 99px;
    background: #FE5F55;
    box-shadow: 0 4px 24px 0 rgba(254, 95, 85, 0.10);
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
  }
  
  .form-input {
    @apply w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:border-transparent transition-all duration-300;
    max-height: 44px;
    /* Hide select arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
  }
  
  .form-label {
    @apply block text-sm font-medium text-white mb-2;
  }
  
  .error-message {
    @apply text-red-500 text-sm mt-1;
  }
  
  .fade-in {
    animation: fadeIn 0.6s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
