@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --var-error-color: #FF8881;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}




@layer components {
  .bg-image {
    background-image: url('/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .heading {
    color: #240A29;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 72px */
    letter-spacing: -0.6px;
    position: relative;
    z-index: 1;
  
    @media (max-width: 1024px) {
      font-size: 40px;
    }
  }

  .subheading {
    color: #240A29;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.72px;
  }

  .text {
    color: #240A29; 
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.2px;
    opacity: 0.8;
  }

  .text-small {
    color: #240A29;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.16px;
    opacity: 0.8;
  }
  
  .btn-primary {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 99px;
    background: #FE5F55;
    box-shadow: 0 4px 24px 0 rgba(254, 95, 85, 0.10);
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
  }
  
  .form-input {
    @apply w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:border-transparent transition-all duration-300;
    max-height: 44px;
    /* Hide select arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    line-height: 100%;
  }
  
  .form-label {
    @apply block text-sm font-medium text-white mb-2;
  }

  .error-color {
    color: var(--var-error-color);
  }
  
  .error-message {
    @apply text-sm mt-1 error-color;
  }
  
  .dotted-underline {
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: #fff;
  }
  
  .fade-in {
    animation: fadeIn 0.6s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
